*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*   CLASSI COMUNI  */

    .flex{
        display: flex;
    }

    .space-between{
        justify-content: space-between;
    }

    .align-items{
        align-items: center;
    }

    /* .container-header{
        align-content: center;
    } */

    .card div img{
        display: block;
    }

    .card h2, .card i{
        color: #0084fd;
    }

    .card i{
        font-size: 80px;
    }

    .card p{
        color: #5a6e7f;
        padding: 30px;
        font-size: 1.5em;
        text-align: center;
    }

    section:nth-of-type(even){
        background-color: #9792e4;
    }


/*   CLASSI COMUNI  */

body{
    font-family: 'PT Sans', sans-serif;
}

main{
    padding-top: 80px;
}


/* HEADER */

header{
    background-color: #0084fd;
    width: 100%;
    /* min-height: 80px; */
    position: fixed;
    top: 0;
    z-index: 10;
}

header .flex .logo{
    padding-left: 10px;
}

header .flex .menu{
    padding-right: 10px;
    cursor: pointer;
}

header .flex .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

header .flex .menu ul li{
    margin-right: 20px;
    color: #ffffff;
}

header .flex .menu ul li button{
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 0;
}

header .flex .menu i{
    color: #ffffff;
}

/*FIRST SECTION*/

.container-first-section{
    background-color: #ffffff;
    min-height: 1000px;
}

.card{
    background-color: #b5ddff;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card *{
    margin-top: 20px;
    padding: 10px 10px 0 10px;
}

.card div img{
    width: 250px;
}

.container-first-section div:last-child{
    margin-bottom: 50px;
}

/* SECOND SECTION*/

.container-second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container-second-section .immagine{
    width: 90%;
    margin: 0 auto;
}

.container-second-section .immagine img{
    width: 100%;
    padding-top: 50px;
}

.testi{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 50px;
    font-size: 1.5em;
}


.container-background-white{
    background-color: #ffffff;
    border-radius: 40px;
    /* margin-top: 100px; */
    width: 90%;
    margin: 0 auto;
}

#black{
    color: #111111;
    font-size: 1.2em;
}

#black > *{
    padding-top: 40px;
}

.fa-arrow-down{
    background-color: #9792e4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    margin-bottom: 40px;
}




/* MEDIA QUERY*/


@media screen and (min-width:768px) {
    
}




@media screen and (min-width:1200px){

    .menu .fa-bars{
        display: none;
    }

    header .flex .menu ul {
        display: flex;
    }
    
}