*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*   CLASSI COMUNI  */

    .flex{
        display: flex;
    }

    .space-between{
        justify-content: space-between;
    }

    .align-items{
        align-items: center;
    }

    /* .container-header{
        align-content: center;
    } */

    .card div img{
        display: block;
    }


/*   CLASSI COMUNI  */

body{
    font-family: 'PT Sans', sans-serif;
}

main{
    padding-top: 80px;
}


/* HEADER */

header{
    background-color: #0084fd;
    width: 100%;
    /* min-height: 80px; */
    position: fixed;
    top: 0;
    z-index: 10;
}

header .flex .logo{
    padding-left: 10px;
}

header .flex .menu{
    padding-right: 10px;
    cursor: pointer;
}

header .flex .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

header .flex .menu ul li{
    margin-right: 20px;
    color: #ffffff;
}

header .flex .menu ul li button{
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 0;
}

header .flex .menu i{
    color: #ffffff;
}

/*FIRST SECTION*/

.container-first-section{
    background-color: #ffffff;
    min-height: 1000px;
}

.card{
    border: 1px dotted red;
    background-color: #b5ddff;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card *{
    margin-top: 20px;
}

.card div img{
    width: 300px;
}



/* MEDIA QUERY*/

@media screen and (min-width:1200px){

    .menu .fa-bars{
        display: none;
    }

    header .flex .menu ul {
        display: flex;
    }
    
}